@charset "utf-8";

.wrap .inner {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
  height: 150px;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
}

.header::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  right: 0;
  left: 0;
  height: 0;
  background-color: #fff;
  z-index: 1000;
  transition: all 0.5s ease;
  background-image: url("../image/common/gnb-menu-open.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 300px -20px;
}

.header.open::after {
  height: 250px;
}

.header .inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.header .contents {
  position: relative;
}

.header .contents::after {
  content: "";
  display: block;
  clear: both;
}

.header .logo {
  float: left;
  margin: 0 112px 0 0;
}

.header .gnb {
  float: left;
  height: 150px;
}

.header .gnb .list::after {
  content: "";
  display: block;
  clear: both;
}

.header .gnb .item {
  position: relative;
  float: left;
}

.header .gnb .link {
  font-size: 24px;
  font-family: "GyeonggiBatang_Batang_Regular", sans-serif;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 150px;
  padding: 0 87px 0 0;
  margin: 0 10px 0 0;
}

.header .lnb-list {
  position: absolute;
  left: 0;
  z-index: 1001;
  display: block;
  overflow: hidden;
  visibility: hidden;
  /* opacity: 0; */
  max-height: 0;
  transition: all 0.5s ease;
}

.header.open .lnb-list {
  visibility: visible;
  top: 100%;
  max-height: 250px;
  /* opacity: 1; */
}

.header .lnb-link {
  font-size: 18px;
  padding: 20px 0 0 0;
  margin: 0 0 10px 0;
}

.header .util-menu {
  position: absolute;
  top: 52px;
  right: 0;
  font-size: 0;
  vertical-align: top;
}

.header .util-menu div {
  display: inline-block;
  width: 40px;
  padding: 10px;
}

.header .util-menu span {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #6eb92b;
  margin: 0 0 6px 0;
}

.header .util-menu span:last-child {
  margin: 0;
}

.header .hbg-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 9999;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  overflow-y: auto;
  transition: all 0.5s ease;
}

.header .hbg-bg.on {
  right: 0%;
  opacity: 1;
}

.header .hbg-bg.open {
  display: block;
}

.header .hbg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header .hbg .inner {
  height: 100%;
}

.header .hbg .contents {
  position: relative;
  padding: 100px 0 0 0;
}

.header .hbg-menu {
  position: absolute;
  top: 50px;
  right: 6px;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.header .hbg-menu:hover {
  transform: rotate(90deg);
}

.header .hbg-menu > div {
  position: relative;
  width: 48px;
  height: 48px;
}

.header .hbg-menu > div > span {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 6px;
  background-color: #6eb92b;
  display: block;
}

.header .hbg-menu > div > span:nth-child(1) {
  transform: translate(0, -50%) rotate(135deg);
}

.header .hbg-menu > div > span:nth-child(2) {
  display: none;
}

.header .hbg-menu > div > span:nth-child(3) {
  transform: translate(0, -50%) rotate(45deg);
}

.header .hbg .menu .list::after {
  content: "";
  display: block;
  clear: both;
}

.header .hbg .menu .item {
  float: left;
  width: 16.66%;
  height: 200px;
}

.header .hbg .menu .link {
  font-size: 24px;
  font-family: "GyeonggiBatang_Batang_Regular", sans-serif;
  font-weight: 700;
  letter-spacing: -3px;
  transition: color 0.5s ease;
}

.header .hbg .menu .item:hover .link {
  color: #6eb92b;
}

.header .hbg-list {
  padding: 12px 0 0 0;
}

.header .hbg-link {
  position: relative;
  display: inline-block;
  margin: 0 0 5px 0;
}

.header .hbg-link::after {
  content: "";
  opacity: 0;
  transition: opacity 0.7s ease;
}

.header .hbg-link:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translate(0, -50%);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  opacity: 1;
  background-color: #6eb92b;
}

/* 메인 페이지 비주얼 */
.main-container .visual {
  position: relative;
  background-color: #6eb92b;
}

.main-container .visual .inner {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.main-container .visual .contents {
  position: relative;
  height: 100%;
}

.main-container .visual-text-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-container .visual-text-box ul {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main-container .visual-text-box li {
  position: absolute;
  top: 168px;
  left: 0;
  /* display: none; */
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.main-container .visual-text-box .slider-on {
  /* display: block; */
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

.main-container .visual-text-box p {
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #fff;
}

.main-container .visual-text-box em {
  display: block;
  line-height: 1;
  font-size: 36px;
  margin: 0 0 16px 0;
}

.main-container .visual-text-box strong {
  display: block;
  line-height: 1;
  font-size: 60px;
  font-weight: 700;
  color: #366d33;
}

.main-container .visual-contact {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main-container .visual-contact ul::after {
  content: "";
  display: block;
  clear: both;
}

.main-container .visual-contact li {
  position: relative;
  float: left;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #fff;
  height: 100px;
}

.main-container .visual-contact .view-more {
  width: 245px;
  background-color: #fff;
}

.main-container .visual-contact .txt {
  position: relative;
  font-size: 24px;
  color: #4c525e;
  line-height: 100px;
  padding: 0 32px;
}

.main-container .visual-contact .txt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 32px;
  background-image: url("../image/common/arr.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 21px;
  height: 16px;
  transform: translateY(-50%) rotate(180deg);
}

.main-container .visual-contact .item {
  width: 335px;
  background-color: #366d33;
}

.main-container .visual-contact .contact {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.main-container .visual-contact .contact-txt {
  display: block;
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 1;
  color: #eae6dd;
}

.main-container .visual-contact .contact-phone {
  display: block;
  color: #6eb92b;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
}

.main-container .visual .col-txt {
  position: absolute;
  top: 20px;
  right: 0;
  color: #fff;
  font-size: 22px;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  writing-mode: vertical-rl;
  letter-spacing: 1px;
  line-height: 24px;
}

/* 메인 페이지 콘텐츠 공통 요소 */
.main-container .contents .text-box {
  text-align: center;
}

.main-container .main-contents-title {
  font-size: 48px;
  line-height: 1;
  margin: 0 0 12px 0;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 700;
  color: #366d33;
}

.main-container .main-contents-desc {
  font-size: 20px;
  line-height: 1;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
}

.main-container .com-factor {
  padding: 80px 0;
}

/* 서브 페이지 비주얼 */
.sub-container .visual {
  position: relative;
  background-color: #6eb92b;
}

.sub-container .visual .inner {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.sub-container .visual .contents {
  position: relative;
  height: 100%;
}

.sub-container .visual-text-box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sub-container .visual-text-box p {
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #fff;
}

.sub-container .visual-text-box em {
  display: block;
  font-size: 28px;
  line-height: 1;
  margin: 0 0 12px 0;
}

.sub-container .visual-text-box strong {
  display: block;
  font-size: 46px;
  line-height: 1;
  font-weight: 400;
}

.sub-container .visual-contact {
  position: absolute;
  right: 0;
  bottom: 0;
}

.sub-container .visual-contact ul::after {
  content: "";
  display: block;
  clear: both;
}

.sub-container .visual-contact li {
  position: relative;
  float: left;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #fff;
  height: 100px;
}

.sub-container .visual-contact .view-more {
  width: 245px;
  background-color: #fff;
}

.sub-container .visual-contact .txt {
  position: relative;
  font-size: 24px;
  color: #4c525e;
  line-height: 100px;
  padding: 0 32px;
}

.sub-container .visual-contact .txt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 32px;
  background-image: url("../image/common/arr.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 21px;
  height: 16px;
  transform: translateY(-50%) rotate(180deg);
}

.sub-container .visual-contact .item {
  width: 335px;
  background-color: #366d33;
}

.sub-container .visual-contact .contact {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.sub-container .visual-contact .contact-txt {
  display: block;
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 1;
  color: #eae6dd;
}

.sub-container .visual-contact .contact-phone {
  display: block;
  color: #6eb92b;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
}

.sub-container .visual .col-txt {
  position: absolute;
  top: 20px;
  right: 0;
  color: #fff;
  font-size: 22px;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  writing-mode: vertical-rl;
  letter-spacing: 1px;
  line-height: 24px;
}

/* 서브 페이지 탭 메뉴 */
.sub-container .tab .contents {
  background-image: url("../image/common/tab-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: auto;
}

.sub-container .tab .list::after {
  content: "";
  display: block;
  clear: both;
}

.sub-container .tab .list > li {
  position: relative;
  float: left;
  width: 228px;
}

.sub-container .tab .list > li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 28px;
  background-color: #4c525e;
}

.sub-container .tab .list > li > a {
  position: relative;
  height: 112px;
  line-height: 112px;
  padding: 0 26px;
  font-size: 24px;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  color: #4c525e;
}

.sub-container .tab .list > li > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #000;
}

.sub-container .tab .list > li:first-child > a::after {
  content: none;
}

.sub-container .tab .list > .item {
  width: 88px;
}

.sub-container .tab .list > li:last-child::after {
  content: "";
  right: -1px;
}

.sub-container .tab .list > .item > a {
  text-align: center;
}

.sub-container .tab-lnb {
  position: absolute;
  top: 70px;
  left: -1px;
  z-index: 8000;
  display: none;
  width: calc(100% + 2px);
  padding: 40px 0 0 0;
  background-color: #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.sub-container .tab .list > li:nth-child(2) .tab-lnb {
  width: calc(100% + -1px);
}

.sub-container .tab .list > li:nth-child(3) .tab-lnb {
  width: calc(100% + 0px);
}

.sub-container .tab .list > li.on .tab-lnb {
  display: block;
}

.sub-container .tab-lnb > .item > a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 5px 26px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.sub-container .tab-lnb > .item + .item > a {
  margin: 5px 0 0 0;
}

.sub-container .tab-lnb > .item > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  height: 1px;
  background-color: #898989;
  transition: all 0.5s ease;
}

.sub-container .tab-lnb > .item > a:hover {
  color: #6eb92b;
}

.sub-container .tab-lnb > .item > a:hover::after {
  opacity: 1;
}

.sub-container .tab-lnb > .item:last-child > a:hover::after {
  opacity: 0;
}

/* 서브 페이지 공통 콘텐츠 */
.sub-container .sub-contents .contents {
  padding: 100px 0;
}

.sub-container .sub-contents .content-title {
  text-align: center;
  font-size: 60px;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  color: #366d33;
}

.sub-container .sub-contents .content-desc {
  font-size: 18px;
  margin: 20px 0 0 0;
  text-align: center;
}

/* 푸터 */
.footer .intro .contents {
  position: relative;
  height: 192px;
}

.footer .intro .desc {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 54px;
  color: #366d33;
  font-family: "GyeonggiBatang_Batang_Regular";
  font-weight: 400;
  line-height: 62px;
}

.footer .intro .text-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  text-align: right;
  color: #636363;
}

.footer .intro .text-box::after {
  content: "";
  display: block;
  clear: both;
}

.footer .intro .text-box dl {
  font-size: 0;
  float: left;
}

.footer .intro .text-box dt,
dd {
  display: inline-block;
  vertical-align: top;
}

.footer .intro .text-box dt {
  color: #636363;
  font-size: 16px;
}

.footer .intro .text-box dd {
  font-size: 16px;
  color: #636363;
  padding: 0;
}

.footer .intro .text-box .company {
  width: 100%;
}

.footer .intro .text-box .phone {
  position: relative;
  width: 50%;
}

.footer .intro .text-box .phone::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  background-color: #636363;
  width: 1px;
  height: 12px;
}

.footer .intro .text-box dl:nth-child(2).phone::after {
  content: none;
}

.footer .intro .text-box .home-address {
  width: 100%;
  margin: 20px 0 0 0;
}

.footer .intro .text-box .rep,
.busi-num {
  width: 50%;
}

.footer .intro .text-box .busi-num {
  position: relative;
}

.footer .intro .text-box .busi-num::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #636363;
  width: 1px;
  height: 12px;
}

.footer .info .contents {
  position: relative;
  height: 182px;
  padding: 50px 0 0 0;
  box-sizing: border-box;
}

.footer .info .contents::after {
  content: "";
  display: block;
  clear: both;
}

.footer .info .contents > a {
  float: left;
}

.footer .info .txt-list {
  float: left;
  margin: 0 0 0 88px;
}

.footer .info .txt-list::after {
  content: "";
  display: block;
  clear: both;
}

.footer .info .txt-list > li {
  float: left;
}

.footer .info .txt-list > li > a {
  position: relative;
  padding: 0 20px 0 0;
  margin: 0 20px 0 0;
}

.footer .info .txt-list > li > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #636363;
}

.footer .info .info-text-box {
  position: absolute;
  top: 50px;
  right: 0;
}

.footer .info .info-text-box > ul::after {
  content: "";
  display: block;
  clear: both;
}

.footer .info .info-text-box > ul > li {
  position: relative;
  float: left;
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
}

.footer .info .info-text-box > ul > li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #636363;
}

.footer .info .info-text-box > ul > li:first-child::after {
  content: none;
}

.footer .address {
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #898989;
  background-color: #000;
}

/* 공통요소 반응형 시작 */
@media all and (min-width: 1320px) and (max-width: 1600px) {
  /* 헤더 */
  .header {
    height: 100px;
  }
  .header .gnb {
    float: none;
    display: none;
  }
  .header .logo img {
    height: 100px;
  }
  .header .util-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 0;
    vertical-align: top;
  }

  /* 서브 페이지 비주얼 */

  /* 서브 페이지 탭 메뉴 */
}

@media all and (min-width: 1024px) and (max-width: 1319px) {
  /* 헤더 */
  .header {
    height: 100px;
  }
  .header .gnb {
    float: none;
    display: none;
  }
  .header .logo img {
    height: 100px;
  }
  .header .util-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 0;
    vertical-align: top;
  }

  /* 헤더 햄버거 메뉴 */
  .header .hbg .inner {
    padding: 0 40px;
  }
  .header .hbg .menu .item {
    width: 33.33%;
  }

  /* 서브 페이지 비주얼 */

  /* 서브 페이지 탭 메뉴 */
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  /* 헤더 */
  .header {
    height: 100px;
  }
  .header .gnb {
    float: none;
    display: none;
  }
  .header .logo img {
    height: 100px;
  }
  .header .util-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 0;
    vertical-align: top;
  }

  /* 헤더 햄버거 메뉴 */
  .header .hbg .inner {
    padding: 0 40px;
  }
  .header .hbg .menu .item {
    width: 33.33%;
  }

  /* 서브 페이지 비주얼 */
  .main-container .visual-text-box em {
    font-size: 28px;
  }
  .main-container .visual-text-box strong {
    font-size: 36px;
  }

  /* 서브 페이지 탭 메뉴 */

  /* 서브 페이지 공통 콘텐츠 */
  .main-container .main-contents-title {
    font-size: 36px;
  }
  .main-container .main-contents-desc {
    font-size: 20px;
  }
  .main-container .com-factor {
    padding: 80px 0;
  }
  .sub-container .sub-contents .content-title {
    font-size: 48px;
  }

  /* 푸터 */
  .footer .intro .contents {
    position: relative;
    height: 192px;
  }
  .footer .intro .desc {
    position: static;
    top: 0;
    left: 0;
    margin: 0 0 20px 0;
    font-size: 36px;
  }
  .footer .intro .desc br {
    display: none;
  }
  .footer .intro .text-box {
    position: static;
    top: 0;
    right: 0;
    width: auto;
    text-align: initial;
  }
  .footer .intro .text-box dl {
    font-size: 0;
    letter-spacing: -0.5px;
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 10px 0;
  }
  .footer .intro .text-box dt {
    font-size: 14px;
  }
  .footer .intro .text-box dd {
    font-size: 14px;
  }
  .footer .intro .text-box .company {
    width: auto;
  }
  .footer .intro .text-box .phone {
    position: static;
    width: auto;
  }
  .footer .intro .text-box .phone::after {
    content: none;
  }
  .footer .intro .text-box dl:nth-child(2).phone::after {
    content: none;
  }
  .footer .intro .text-box .home-address {
    width: auto;
    padding: 0 10px 0 0;
    margin: 0 10px 10px 0;
  }
  .footer .intro .text-box .rep,
  .busi-num {
    width: auto;
  }
  .footer .intro .text-box .busi-num {
    position: static;
  }
  .footer .intro .text-box .busi-num::after {
    content: none;
  }
  .footer .info .contents {
    position: static;
    height: auto;
    padding: 0 0 50px 0;
    box-sizing: border-box;
  }
  .footer .info .contents > a {
    float: none;
    margin: 0 0 32px 0;
  }
  .footer .info .contents > a > img {
    width: 100px;
  }
  .footer .info .txt-list {
    display: none;
  }
  .footer .info .info-text-box {
    position: static;
  }
  .footer .info .info-text-box > ul::after {
    content: "";
    display: block;
    clear: both;
  }
  .footer .info .info-text-box > ul > li {
    position: static;
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    color: #636363;
  }
  .footer .info .info-text-box > ul > li::after {
    content: none;
  }
  .footer .info .info-text-box > ul > li:first-child::after {
    content: none;
  }
  .footer .address {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  /* 헤더 */
  .header {
    height: 80px;
  }
  .header .gnb {
    float: none;
    display: none;
  }
  .header .logo img {
    height: 80px;
  }
  .header .util-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 0;
    vertical-align: top;
  }

  /* 헤더 햄버거 메뉴 */
  .header .hbg .inner {
    padding: 0 40px;
  }
  .header .hbg .menu .item {
    width: 50%;
  }

  /* 메인 페이지 비주얼 */
  .main-container .visual .inner {
    padding: 0;
  }
  .main-container .visual-control .inner {
    padding: 0 20px;
  }
  .main-container .visual-text-box {
    top: 0;
    right: 0;
    transform: translateY(0%);
  }
  .main-container .visual-text-box li {
    top: 100px;
  }
  .main-container .visual-text-box p {
    text-align: center;
  }
  .main-container .visual-text-box em {
    font-size: 24px;
  }
  .main-container .visual-text-box strong {
    font-size: 36px;
  }
  .main-container .visual-contact {
    left: 0;
  }
  .main-container .visual-contact ul::after {
    content: none;
  }
  .main-container .visual-contact li {
    position: relative;
    float: none;
    font-family: "GyeonggiBatang_Batang_Regular";
    font-weight: 400;
    letter-spacing: -1.2px;
    color: #fff;
    height: 60px;
  }
  .main-container .visual-contact .view-more {
    width: 100%;
    background-color: #fff;
  }
  .main-container .visual-contact .txt {
    font-size: 20px;
    line-height: 60px;
  }
  .main-container .visual-contact .txt::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 32px;
  }
  .main-container .visual-contact .item {
    width: 100%;
  }
  .main-container .visual-contact .contact-txt {
    display: inline-block;
    margin: 0 16px 0 0;
    font-size: 20px;
    color: #eae6dd;
  }
  .main-container .visual-contact .contact-phone {
    display: inline-block;
    vertical-align: middle;
    color: #6eb92b;
    font-size: 28px;
    letter-spacing: normal;
  }
  .main-container .visual .col-txt {
    display: none;
  }

  /* 서브 페이지 비주얼 */
  .sub-container .visual .inner {
    padding: 0;
  }
  .sub-container .visual-text-box {
    top: 140px;
    right: 0;
    transform: translateY(0%);
  }
  .sub-container .visual-text-box p {
    text-align: center;
  }
  .sub-container .visual-text-box em {
    font-size: 18px;
  }
  .sub-container .visual-text-box strong {
    font-size: 28px;
  }
  .sub-container .visual-contact {
    left: 0;
  }
  .sub-container .visual-contact ul::after {
    content: none;
  }
  .sub-container .visual-contact li {
    position: relative;
    float: none;
    font-family: "GyeonggiBatang_Batang_Regular";
    font-weight: 400;
    letter-spacing: -1.2px;
    color: #fff;
    height: 60px;
  }
  .sub-container .visual-contact .view-more {
    width: 100%;
    background-color: #fff;
  }
  .sub-container .visual-contact .txt {
    font-size: 20px;
    line-height: 60px;
  }
  .sub-container .visual-contact .txt::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 32px;
  }
  .sub-container .visual-contact .item {
    width: 100%;
  }
  .sub-container .visual-contact .contact-txt {
    display: inline-block;
    margin: 0 16px 0 0;
    font-size: 20px;
    color: #eae6dd;
  }
  .sub-container .visual-contact .contact-phone {
    display: inline-block;
    vertical-align: middle;
    color: #6eb92b;
    font-size: 28px;
    letter-spacing: normal;
  }
  .sub-container .visual .col-txt {
    display: none;
  }

  /* 서브 페이지 탭 메뉴 */
  .sub-container .tab .inner {
    padding: 0;
  }
  .sub-container .tab .contents {
    background-size: contain;
  }
  .sub-container .tab .list::after {
    content: "";
    display: block;
    clear: both;
  }
  .sub-container .tab .list > li {
    width: 50%;
  }
  .sub-container .tab .list > li > a {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 20px;
  }
  .sub-container .tab .list > li:last-child > a::after {
    content: none;
  }
  .sub-container .tab .list > .item {
    display: none;
  }

  /* 서브 페이지 공통 콘텐츠 */
  .main-container .main-contents-title {
    font-size: 28px;
  }
  .main-container .main-contents-desc {
    font-size: 16px;
  }
  .main-container .com-factor {
    padding: 60px 0;
  }
  .sub-container .sub-contents .content-title {
    font-size: 36px;
  }

  /* 푸터 */
  .footer .intro .contents {
    position: relative;
    height: auto;
    padding: 0 0 50px 0;
  }
  .footer .intro .desc {
    position: static;
    top: 0;
    left: 0;
    margin: 0 0 20px 0;
    font-size: 36px;
  }
  .footer .intro .desc br {
    display: none;
  }
  .footer .intro .text-box {
    position: static;
    top: 0;
    right: 0;
    width: auto;
    text-align: initial;
  }
  .footer .intro .text-box dl {
    font-size: 0;
    letter-spacing: -0.5px;
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 10px 0;
  }
  .footer .intro .text-box dt {
    font-size: 14px;
  }
  .footer .intro .text-box dd {
    font-size: 14px;
  }
  .footer .intro .text-box .company {
    width: auto;
  }
  .footer .intro .text-box .phone {
    position: static;
    width: auto;
  }
  .footer .intro .text-box .phone::after {
    content: none;
  }
  .footer .intro .text-box dl:nth-child(2).phone::after {
    content: none;
  }
  .footer .intro .text-box .home-address {
    width: auto;
    padding: 0 10px 0 0;
    margin: 0 10px 10px 0;
  }
  .footer .intro .text-box .rep,
  .busi-num {
    width: auto;
  }
  .footer .intro .text-box .busi-num {
    position: static;
  }
  .footer .intro .text-box .busi-num::after {
    content: none;
  }
  .footer .info .contents {
    position: static;
    height: auto;
    padding: 0 0 50px 0;
    box-sizing: border-box;
  }
  .footer .info .contents > a {
    float: none;
    margin: 0 0 32px 0;
  }
  .footer .info .contents > a > img {
    width: 100px;
  }
  .footer .info .txt-list {
    display: none;
  }
  .footer .info .info-text-box {
    position: static;
  }
  .footer .info .info-text-box > ul::after {
    content: "";
    display: block;
    clear: both;
  }
  .footer .info .info-text-box > ul > li {
    position: static;
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    color: #636363;
  }
  .footer .info .info-text-box > ul > li::after {
    content: none;
  }
  .footer .info .info-text-box > ul > li:first-child::after {
    content: none;
  }
  .footer .address {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  /* 헤더 */
  .header {
    height: 80px;
  }
  .header .gnb {
    float: none;
    display: none;
  }
  .header .logo img {
    height: 80px;
  }
  .header .util-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 0;
    vertical-align: top;
  }

  /* 헤더 햄버거 메뉴 */
  .header .hbg .inner {
    padding: 0 40px;
  }
  .header .hbg .menu .item {
    width: 100%;
    height: auto;
  }
  .header .hbg .menu .item + .item {
    margin: 24px 0 0 0;
  }

  /* 메인 페이지 비주얼 */
  .main-container .visual .inner {
    padding: 0;
  }
  .main-container .visual-control .inner {
    padding: 0 20px;
  }
  .main-container .visual-text-box {
    top: 0;
    right: 0;
    transform: translateY(0%);
  }
  .main-container .visual-text-box li {
    top: 100px;
  }
  .main-container .visual-text-box p {
    text-align: center;
  }
  .main-container .visual-text-box em {
    font-size: 20px;
  }
  .main-container .visual-text-box strong {
    font-size: 32px;
  }
  .main-container .visual-contact {
    left: 0;
  }
  .main-container .visual-contact ul::after {
    content: none;
  }
  .main-container .visual-contact li {
    position: relative;
    float: none;
    font-family: "GyeonggiBatang_Batang_Regular";
    font-weight: 400;
    letter-spacing: -1.2px;
    color: #fff;
    height: 60px;
  }
  .main-container .visual-contact .view-more {
    width: 100%;
    background-color: #fff;
  }
  .main-container .visual-contact .txt {
    font-size: 20px;
    line-height: 60px;
  }
  .main-container .visual-contact .txt::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 32px;
  }
  .main-container .visual-contact .item {
    width: 100%;
  }
  .main-container .visual-contact .contact-txt {
    display: inline-block;
    margin: 0 16px 0 0;
    font-size: 20px;
    color: #eae6dd;
  }
  .main-container .visual-contact .contact-phone {
    display: inline-block;
    vertical-align: middle;
    color: #6eb92b;
    font-size: 28px;
    letter-spacing: normal;
  }
  .main-container .visual .col-txt {
    display: none;
  }

  /* 서브 페이지 비주얼 */
  .sub-container .visual .inner {
    padding: 0;
  }
  .sub-container .visual-text-box {
    top: 140px;
    right: 0;
    transform: translateY(0%);
  }
  .sub-container .visual-text-box p {
    text-align: center;
  }
  .sub-container .visual-text-box em {
    font-size: 18px;
  }
  .sub-container .visual-text-box strong {
    font-size: 28px;
  }
  .sub-container .visual-contact {
    left: 0;
  }
  .sub-container .visual-contact ul::after {
    content: none;
  }
  .sub-container .visual-contact li {
    position: relative;
    float: none;
    font-family: "GyeonggiBatang_Batang_Regular";
    font-weight: 400;
    letter-spacing: -1.2px;
    color: #fff;
    height: 60px;
  }
  .sub-container .visual-contact .view-more {
    width: 100%;
    background-color: #fff;
  }
  .sub-container .visual-contact .txt {
    font-size: 16px;
    line-height: 60px;
  }
  .sub-container .visual-contact .txt::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 32px;
  }
  .sub-container .visual-contact .item {
    width: 100%;
  }
  .sub-container .visual-contact .contact-txt {
    display: inline-block;
    margin: 0 16px 0 0;
    font-size: 16px;
    color: #eae6dd;
  }
  .sub-container .visual-contact .contact-phone {
    display: inline-block;
    vertical-align: middle;
    color: #6eb92b;
    font-size: 24px;
    letter-spacing: normal;
  }
  .sub-container .visual .col-txt {
    display: none;
  }

  /* 서브 페이지 탭 메뉴 */
  .sub-container .tab .inner {
    padding: 0;
  }
  .sub-container .tab .contents {
    background-size: contain;
  }
  .sub-container .tab .list::after {
    content: "";
    display: block;
    clear: both;
  }
  .sub-container .tab .list > li {
    width: 50%;
  }
  .sub-container .tab .list > li > a {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    font-size: 16px;
  }
  .sub-container .tab .list > li:last-child > a::after {
    content: none;
  }
  .sub-container .tab .list > .item {
    display: none;
  }

  /* 서브 페이지 공통 콘텐츠 */
  .main-container .main-contents-title {
    font-size: 28px;
  }
  .main-container .main-contents-desc {
    font-size: 16px;
  }
  .main-container .com-factor {
    padding: 60px 0;
  }
  .sub-container .sub-contents .content-title {
    font-size: 36px;
  }

  /* 푸터 */
  .footer .intro .contents {
    position: relative;
    height: auto;
    padding: 0 0 25px 0;
  }
  .footer .intro .desc {
    position: static;
    top: 0;
    left: 0;
    margin: 0 0 16px 0;
    font-size: 28px;
    line-height: 40px;
  }
  .footer .intro .desc br {
    display: block;
  }
  .footer .intro .text-box {
    position: static;
    top: 0;
    right: 0;
    width: auto;
    text-align: initial;
  }
  .footer .intro .text-box dl {
    font-size: 0;
    letter-spacing: -0.5px;
    float: left;
    display: block;
    width: 100%;
    padding: 0 10px 0 0;
    margin: 0 10px 10px 0;
  }
  .footer .intro .text-box dt {
    font-size: 14px;
  }
  .footer .intro .text-box dd {
    font-size: 14px;
  }
  .footer .intro .text-box .company {
    width: auto;
  }
  .footer .intro .text-box .phone {
    position: static;
    width: auto;
  }
  .footer .intro .text-box .phone::after {
    content: none;
  }
  .footer .intro .text-box dl:nth-child(2).phone::after {
    content: none;
  }
  .footer .intro .text-box .home-address {
    width: auto;
    padding: 0 10px 0 0;
    margin: 0 10px 10px 0;
  }
  .footer .intro .text-box .rep,
  .busi-num {
    width: auto;
  }
  .footer .intro .text-box .busi-num {
    position: static;
  }
  .footer .intro .text-box .busi-num::after {
    content: none;
  }
  .footer .info .contents {
    position: static;
    height: auto;
    padding: 0 0 25px 0;
    box-sizing: border-box;
  }
  .footer .info .contents > a {
    float: none;
    margin: 0 0 24px 0;
  }
  .footer .info .contents > a > img {
    width: 80px;
  }
  .footer .info .txt-list {
    display: none;
  }
  .footer .info .info-text-box {
    position: static;
  }
  .footer .info .info-text-box > ul::after {
    content: "";
    display: block;
    clear: both;
  }
  .footer .info .info-text-box > ul > li {
    position: static;
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    color: #636363;
  }
  .footer .info .info-text-box > ul > li::after {
    content: none;
  }
  .footer .info .info-text-box > ul > li:first-child::after {
    content: none;
  }
  .footer .address {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }
}
