@charset "utf-8";

.sub-sh_news .bg-photo {
  background-image: url('../../image/sub_visual_infoplaza.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px
}

.page-dummy .selectbox {
  display: flex;
  justify-content: flex-end;
}
.page-dummy .select-wrap {
  position: relative;
  width: 132px;
  height: 44px;
  margin: 0 20px 0 0;
}
.page-dummy .select-wrap .list-select {
  width: 132px;
  padding: 6px 20px;
  box-sizing: border-box;
  height: 44px;
  border: 1px solid #d1d1d1;
  appearance: none;
}
.page-dummy .select-wrap .arr {
  position: absolute;
  top : 50%;
  right: 20px;
  transform: translate(0, -50%);
  width :0;
  height :0;
  pointer-events: none;
  border-style :solid;
  border-width: 8px 5px 0 5px;
  border-color: #252525 transparent transparent transparent;
}
.page-dummy .selectbox input {
  width: 242px;
  height: 44px;
  padding: 6px 12px;
  border: none;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.page-dummy .desc-box {
  margin: 30px 0 0 0;
}
.page-dummy .desc-box .list li {
  padding: 20px;
  margin: -1px 0 0 0;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
.page-dummy .desc-box .list li a {
  display: flex;
}
.page-dummy .desc-box .list li a:hover {
  text-decoration: underline;
}
.page-dummy .desc-box .text-box {
  padding: 16px 28px;
  box-sizing: border-box;
}
.page-dummy .desc-box .text-box p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -1.5px;
  color: #464646;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.page-dummy .desc-box .text-box .tit {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 700;
  color: #0a1032;
  -webkit-line-clamp: 2;
}
.page-dummy .pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}
.page-dummy .pagination .num {
  width: 50px;
  height: 50px;
  margin: 0 0 0 -1px;
  line-height: 50px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  text-align: center;
  color: #000;
}
.page-dummy .pagination .num.on {
  border: 1px solid #0a1032;
  background-color: #0a1032;
  color: #fff;
}



















/* 반응형 웹 - 공통 */
@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .page-dummy .desc-box .list li a {
    display: block;
  }
  .page-dummy .desc-box .list li a img {
    width: 100%;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .page-dummy .selectbox {
    position: relative;
    display: block;
  }
  .page-dummy .select-wrap {
    width: 100%;
  }
  .page-dummy .select-wrap .list-select {
    width: 100%;
  }
  .page-dummy .selectbox input {
    width: 100%;
    padding: 0 46px 0 0;
  }
  .page-dummy .selectbox button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .page-dummy .desc-box .list li a {
    display: block;
  }
  .page-dummy .desc-box .list li a img {
    width: 100%;
  }
  .page-dummy .desc-box .text-box {
    padding: 24px 0;
  }
  .page-dummy .desc-box .text-box p {
    -webkit-line-clamp: 2;
  }
  .page-dummy .desc-box .text-box .tit {
    margin: 0 0 8px 0;
    -webkit-line-clamp: 1;
  }
  .page-dummy .pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
  }
  .page-dummy .pagination a img {
    width: 40px;
    height: 40px;
  }
  .page-dummy .pagination .num {
    width: 40px;
    height: 40px;
    margin: 0 0 0 -1px;
    line-height: 40px;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    text-align: center;
    color: #000;
  }
  .page-dummy .pagination .num:nth-child(8) {
    display: none;
  }
  .page-dummy .pagination .num:nth-child(9) {
    display: none;
  }
  .page-dummy .pagination .num:nth-child(10) {
    display: none;
  }
  .page-dummy .pagination .num:nth-child(11) {
    display: none;
  }
  .page-dummy .pagination .num:nth-child(12) {
    display: none;
  }
  .page-dummy .pagination .num.on {
    border: 1px solid #0a1032;
    background-color: #0a1032;
    color: #fff;
  }
}
