@charset "utf-8";

.lookaround .visual .bg {
  background-image: url('../../../image/sub/sub-visual_depth02.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
  height: 320px;
}

.lookaround .view {
  padding: 120px 0 0 0;
}
.lookaround .view ul::after {
  content: '';
  display: block;
  clear: both;
}

.lookaround .view .item {
  position: relative;
  width: 50%;
  float: left;
  margin: 0 0 64px 0;
  padding: 0 0 0 150px;
  box-sizing: border-box;
}

.lookaround .view .item:nth-child(2n) {
  top: 100px;
}

.lookaround .view .text {
  position: absolute;
  top: 74px;
  left: -30px;
  font-size: 50px;
  color: #366d33;
  font-family: 'GyeonggiBatang_Batang_Regular';
  transform: rotate(90deg);
}

.lookaround .view .view-img {
  text-align: right;
  position: relative;
}

.lookaround .view .view-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
  background-image: url('../../../image/sub/lookaround-contents-hover.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.lookaround .view .view-img:hover::after {
  opacity: 1;
}

.lookaround .view .img {
  width: 100%;
}

.lookaround .view .desc {
  font-size: 18px;
  margin: 20px 0 0 0;
}

.lookaround .view-photos {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
}

.lookaround .view-photos .inner {
  max-width: 1200px;
  margin: 0 auto;
}

.lookaround .view-photos img {
  width: 100%;
}

.lookaround .view-photos .view-desc {
  padding: 20px 0;
}

.lookaround .view-photos .view-desc .title {
  display: inline-block;
  margin: 0 40px 0 0;
  vertical-align: middle;
  font-size: 50px;
  font-family: 'GyeonggiBatang_Batang_Regular';
  color: #fff;
}

.lookaround .view-photos .view-desc .desc {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
}

.lookaround .view-collection .viewlist {
  padding: 40px 0 0 0;
}

.lookaround .view-collection .viewlist::after {
  content: '';
  display: block;
  clear: both;
}

.lookaround .view-collection .viewitem {
  float: left;
  padding: 20px;
  width: calc(25% + -40px);
}

.lookaround .view-collection .viewitem a {
  display: block;
}

.lookaround .view-collection .viewitem img {
  width: 100%;
}








/* 서브 페이지  - 둘러보기 반응형 시작 */
@media all and (min-width: 1320px) and (max-width: 1600px) {}

@media all and (min-width: 1024px) and (max-width: 1319px) {}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .lookaround .visual .bg {background-size: cover; height: 480px;}
  .lookaround .view ul::after {content: ''; display: block; clear: both;}
  .lookaround .view .item {position: static; width: auto; float: none; margin: 0 0 40px 0; padding: 0; box-sizing: border-box;}
  .lookaround .view .item:nth-child(2n) {top: auto;}
  .lookaround .view .text {position: static; top: auto; left: auto; display: block; font-size: 36px; margin: 0 0 20px 0; transform: rotate(0deg);}
  .lookaround .view .view-img {text-align: right;}
  .lookaround .view .img {width: 100%;}
  .lookaround .view .desc {font-size: 18px; margin: 24px 0 0 0;}
  .lookaround .view-photos .view-desc .title {font-size: 36px;}
  .lookaround .view-photos .view-desc .desc {font-size: 16px;}
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .lookaround .visual .bg {background-size: cover; height: 480px;}
  .lookaround .view ul::after {content: ''; display: block; clear: both;}
  .lookaround .view .item {position: static; width: auto; float: none; margin: 0 0 40px 0; padding: 0; box-sizing: border-box;}
  .lookaround .view .item:nth-child(2n) {top: auto;}
  .lookaround .view .text {position: static; top: auto; left: auto; display: block; font-size: 28px; margin: 0 0 20px 0; transform: rotate(0deg);}
  .lookaround .view .view-img {text-align: right;}
  .lookaround .view .img {width: 100%;}
  .lookaround .view .desc {font-size: 16px; margin: 24px 0 0 0;}
  .lookaround .view-photos .view-desc .title {font-size: 28px;}
  .lookaround .view-photos .view-desc .desc {font-size: 16px;}
  .lookaround .view-photos .view-desc .desc br {display: none;}
  .lookaround .view-collection {display: none;}
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .lookaround .visual .bg {background-size: cover; height: 480px;}
  .lookaround .view ul::after {content: ''; display: block; clear: both;}
  .lookaround .view .item {position: static; width: auto; float: none; margin: 0 0 40px 0; padding: 0; box-sizing: border-box;}
  .lookaround .view .item:nth-child(2n) {top: auto;}
  .lookaround .view .text {position: static; top: auto; left: auto; display: block; font-size: 28px; margin: 0 0 20px 0; transform: rotate(0deg);}
  .lookaround .view .view-img {text-align: right;}
  .lookaround .view .img {width: 100%;}
  .lookaround .view .desc {font-size: 16px; margin: 24px 0 0 0;}
  .lookaround .view-photos .view-desc .title {font-size: 28px;}
  .lookaround .view-photos .view-desc .desc {font-size: 16px;}
  .lookaround .view-photos .view-desc .desc br {display: none;}
  .lookaround .view-collection {display: none;}
}
