@charset "utf-8";

.sub-sh_news .bg-photo {
  background-image: url('../../image/sub_visual_shnews.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px
}











/* 반응형 웹 - 공통 */
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1023px) {

}

@media all and (min-width: 320px) and (max-width: 767px) {

}
