@charset "utf-8";

.food .visual .bg {
  background-image: url('../../../image/sub/sub-visual_depth06.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
  height: 320px;
}

.food .food-contents {
  padding: 120px 0 0 0;
}

.food .food-contents .selectbox {
  font-size: 0;
  text-align: right;
}

.food .food-contents .selectbox select {
  height: 44px;
  vertical-align: middle;
  border: 1px solid #d1d1d1;
  margin: 0 10px 0 0;
}

.food .food-contents .list-option {
  position: relative;
  width: 120px;
  padding: 6px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}

.food .food-contents .list-option::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #d1d1d1;
}

.food .food-contents .selectbox input {
  height: 44px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  padding: 6px 12px;
  border: none;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}

.food .food-contents .selectbox button {
  vertical-align: middle;
}

.food .food-contents .list-photo {
  padding: 40px 0 0 0;
}

.food .food-contents .list-photo ul {
  margin: 0 -32px 0 0;
  transform: translateX(-16px);
}

.food .food-contents .list-photo ul::after {
  content: '';
  display: block;
  clear: both;
}

.food .food-contents .list-photo li {
  float: left;
  width: calc(25% + -32px);
  padding: 20px;
  margin: 16px;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  transition: all 0.3s ease;
}

.food .food-contents .list-photo li:hover {
  border: 1px solid #366d33;
}

.food .food-contents .list-photo a {
  display: block;
}

.food .food-contents .list-photo .motion {
  overflow: hidden;
}

.food .food-contents .list-photo img {
  width: 100%;
  transition: transform 0.5s ease;
}

.food .food-contents .list-photo li:hover img {
  transform: scale(1.2);
}

.food .food-contents .list-photo em {
  display: block;
  margin: 14px 0 28px;
  text-align: center;
}

.food .food-contents .list-photo dt {
  display: inline-block;
}

.food .food-contents .list-photo dd {
  display: inline-block;
}

.food .food-contents .list-photo .normal-txt {
  display: inline-block;
}

.food .food-contents .list-photo .normal-txt + .normal-txt {
  margin: 0 0 0 10px;
}










/* 서브 페이지  - 맛있는 이야기 반응형 시작 */
@media all and (min-width: 1320px) and (max-width: 1600px) {}

@media all and (min-width: 1024px) and (max-width: 1319px) {
  .food .food-contents .list-photo ul {margin: 0 -32px 0 0; transform: translateX(-16px);}
  .food .food-contents .list-photo ul::after {content: ''; display: block; clear: both;}
  .food .food-contents .list-photo li {float: left; width: calc(25% + -32px); padding: 20px; margin: 16px;}
  .food .food-contents .list-photo em {display: block; margin: 14px 0 28px; text-align: center;}
  .food .food-contents .list-photo .normal-txt {display: block;}
  .food .food-contents .list-photo .normal-txt + .normal-txt {margin: 0;}
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .food .visual .bg {background-size: cover; height: 480px;}

  .food .food-contents .list-photo ul {margin: 0 -32px 0 0; transform: translateX(-16px);}
  .food .food-contents .list-photo ul::after {content: ''; display: block; clear: both;}
  .food .food-contents .list-photo li {float: left; width: calc(50% + -32px); padding: 20px; margin: 16px;}
  .food .food-contents .list-photo em {display: block; margin: 14px 0 28px; text-align: center;}
  .food .food-contents .list-photo .normal-txt + .normal-txt {margin: 0;}
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .food .visual .bg {background-size: cover; height: 480px;}

  .food .food-contents .list-photo ul {margin: 0 -16px 0 0; transform: translateX(-8px);}
  .food .food-contents .list-photo ul::after {content: ''; display: block; clear: both;}
  .food .food-contents .list-photo li {float: left; width: calc(50% + -16px); padding: 10px; margin: 8px;}
  .food .food-contents .list-photo em {display: block; margin: 14px 0 28px; text-align: center;}
  .food .food-contents .list-photo .normal-txt + .normal-txt {margin: 0;}
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .food .visual .bg {background-size: cover; height: 480px;}

  .food .food-contents .list-photo ul {margin: 0 -16px 0 0; transform: translateX(-8px);}
  .food .food-contents .list-photo ul::after {content: ''; display: block; clear: both;}
  .food .food-contents .list-photo li {float: left; width: calc(50% + -16px); padding: 10px; margin: 8px;}
  .food .food-contents .list-photo em {display: block; margin: 14px 0 28px; text-align: center;}
  .food .food-contents .list-photo .normal-txt + .normal-txt {margin: 0;}
}
