@charset "utf-8";

.sub-about_us .bg-photo {
  background-image: url('../../image/sub_visual_aboutus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px
}

.awards-history .title-area .desc {
  text-align: left;
  height: 280px;
}
.awards-history .title-area .desc .bg {
  background-image: url('../../image/ceo-intro.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: inline-block;
  vertical-align: bottom;
  width: 1200px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  margin: 0 auto;
}
.awards-history .title-area .desc .txt-box {
  display: inline-block;
  padding: 100px 0 0 50px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 400;
}
.awards-history .title-area p {
  font-size: 30px;
  line-height: 36px;
}
.awards-history .title-area em {
  vertical-align: initial;
}
.awards-history .title-area .ceo-LeeSeonjun {
  margin: 60px 0 0 0;
  text-align: right;
}
.awards-history .title-area .ceo-LeeSeonjun strong {
  display: inline-block;
  font-size: 24px;
  font-family: 'Noto Sans KR', serif;
  font-weight: 400;
}
.awards-history .title-area .ceo-LeeSeonjun em {
  display: inline-block;
  margin: 0 0 0 12px;
  font-size: 34px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 700;
}
.awards-history .sub-contents .ceo-desc {
  font-size: 18px;
  line-height: 27px;
}
.awards-history .sub-contents .ceo-desc span {
  display: block;
  height: 28px;
}
.awards-history .sub-contents .end {
  margin: 60px 0 0 0;
  text-align: right;
}
.awards-history .sub-contents .end strong {
  font-size: 22px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 400;
}



.news-details .desc-box p {
  padding: 26px;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  background-color: #0a1032;
  text-align: center;
}
.news-details .date {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}
.news-details .date dl {
  display: flex;
}
.news-details .date dl + dl {
  margin: 0 0 0 40px;
}
/* .news-details .date dt {} */
/* .news-details .date dt p {} */
.news-details .date dt span {
  display: inline-block;
  margin: 0 20px 0 0;
}
/* .news-details .date dd {} */
/* .news-details .date dd p {} */
/* .news-details .date dd p time {} */
.news-details .view {
  padding: 48px 40px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
.news-details .view figure {
  display: flex;
  justify-content: center;
}
.news-details .view figure img {
  width: 100%;
}
.news-details .view p {
  margin: 20px 0 0 0;
  color: #252525;
  line-height: 36px;
  font-size: 20px;
  letter-spacing: -1px;
  text-align: initial;
}
.news-details .page-link {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 0 0;
}
.news-details .page-link a {
  padding: 18px 38px;
  font-size: 18px;
  color: #fff;
  background-color: #4d4d4d;
}










/* 반응형 웹 - 수상연혁 */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .awards-history .title-area .desc .bg {
    background-image: url('../../image/ceo-intro.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;
    margin: 0 auto;
  }
  .awards-history .title-area .desc .txt-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 20px 0 0 20px;
  }
  .awards-history .title-area p {
    font-size: 22px;
  }
  .awards-history .title-area em {
    vertical-align: initial;
    font-size: 22px;
  }
  .awards-history .title-area .ceo-LeeSeonjun {
    text-align: left;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .awards-history .title-area .desc .bg {
    background-image: url('../../image/ceo-intro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;
    margin: 0 auto;
  }
  .awards-history .title-area .desc .txt-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 20px 0 0 20px;
  }
  .awards-history .title-area p {
    font-size: 22px;
  }
  .awards-history .title-area em {
    vertical-align: initial;
    font-size: 22px;
  }
  .awards-history .title-area .ceo-LeeSeonjun {
    text-align: left;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .awards-history .title-area .desc {
    padding: initial;
    text-align: center;
    height: 100%;
  }
  .awards-history .title-area .desc .bg {
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;
    margin: 0 auto;
  }
  .awards-history .title-area .desc .txt-box {
    padding: 20px 0 0 20px;
  }
  .awards-history .title-area p {
    font-size: 18px;
  }
  .awards-history .title-area em {
    vertical-align: initial;
    font-size: 18px;
  }
  .awards-history .title-area .ceo-LeeSeonjun {
    text-align: left;
  }
}
