@charset "utf-8";

.sub-about_us .bg-photo {
  background-image: url('../../image/sub_visual_aboutus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px
}

.ideology-list > li {
  margin: 0 0 60px 0;
}
.ideology-list .photo {
  text-align: center;
  padding: 0 80px;
}
.ideology-list .photo img {
  width: 100%;
}
.ideology-list .m-photo {
  display: none;
}










/* 반응형 웹 - 경영이념 */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .ideology-list .photo {
    display: none;
  }
  .ideology-list .m-photo {
    display: block;
  }
  .ideology-list .m-photo-intro {
    display: inline-block;
    padding: 20px 48px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-image: url('../../image/ideology_circle.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 26px left -70px;
    background-color: #0a1032;
  }
  .ideology-list .m-photo-intro em {
    color: #fb4f2b;
  }
  .ideology-list .m-photo .list {
    margin: 20px 0 0 0;
  }
  .ideology-list .m-photo .list > li {
    padding: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
  }
  .ideology-list .item .m-photo .list > li {
    position: relative;
  }
  .ideology-list .item .m-photo .list > li::after {
    content: '';
    background-image: url('../../image/ideology_elem_intro.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .ideology-list .m-photo .list > li p {
    font-size: 16px;
  }
  .ideology-list .m-photo .list > li p em {
    color: #fb4f2b;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .ideology-list .photo {
    display: none;
  }
  .ideology-list .m-photo {
    display: block;
  }
  .ideology-list .m-photo-intro {
    display: inline-block;
    padding: 20px 48px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    background-image: url('../../image/ideology_circle.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 26px left -70px;
    background-color: #0a1032;
  }
  .ideology-list .m-photo-intro em {
    color: #fb4f2b;
  }
  .ideology-list .m-photo .list {
    margin: 20px 0 0 0;
  }
  .ideology-list .m-photo .list > li {
    padding: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
  }
  .ideology-list .item .m-photo .list > li {
    position: relative;
  }
  .ideology-list .item .m-photo .list > li::after {
    content: '';
    background-image: url('../../image/ideology_elem_intro.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .ideology-list .m-photo .list > li p {
    font-size: 16px;
  }
  .ideology-list .m-photo .list > li p em {
    color: #fb4f2b;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .ideology-list .photo {
    display: none;
  }
  .ideology-list .m-photo {
    display: block;
  }
  .ideology-list .m-photo-intro {
    display: inline-block;
    padding: 20px 48px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    background-image: url('../../image/ideology_circle.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 26px left -70px;
    background-color: #0a1032;
  }
  .ideology-list .m-photo-intro em {
    color: #fb4f2b;
  }
  .ideology-list .m-photo .list {
    margin: 20px 0 0 0;
  }
  .ideology-list .m-photo .list > li {
    padding: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
  }
  .ideology-list .item .m-photo .list > li {
    position: relative;
  }
  .ideology-list .item .m-photo .list > li::after {
    content: '';
    background-image: url('../../image/ideology_elem_intro.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .ideology-list .m-photo .list > li p {
    font-size: 16px;
  }
  .ideology-list .m-photo .list > li p em {
    color: #fb4f2b;
  }
}

